/* *,
body,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
} */

p {
  color: #015668;
  background-color: #0D91A1;
  width: 300px;
  border: 2px solid #7DCE94;
  font-family: 'Baloo Thambi 2', cursive;

}